body{
	background-color: lightgreen;
}

.picture{
	display: flex;
	justify-content: center;
	/*height: 200px;*/
	/*margin: auto;*/

}

.button {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
