body{

	background-color: white;

}
.tamagotchi{
	height: 400px;
}
.picture{
	display: flex;
	justify-content: center;

}

.button {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.startGame{
	display: flex;
	/*margin-left: 275px;*/
	justify-content: center;

}

.interaction{
	display: flex;
	/*margin-left: 275px;*/
	justify-content: center;
}

